doctype html
html
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
		title= title
	body
		#navbar.nav.navbar-inverse
			.container
				.navbar-header
					button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#myNavbar")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="/") Shop Scraper
				#myNavbar.navbar-collapse.collapse(style="height: 1px")
					ul.nav.navbar-nav
						li#home_li.active
							a.navbar_link(href="/") Home
						li#shops_li.dropdown 
							a.dropdown-toggle.navbar_link(data-toggle="dropdown") Shops 
								span.caret 
							ul.dropdown-menu
								li.navbar_store_link
									a(href="/BigY") Big Y 
								li.navbar_store_link
									a(href="/StopAndShop") Stop & Shop
								li.navbar_store_link 
									a(href="/ShopRite") ShopRite
					ul.nav.navbar-nav.navbar-right
						li 
							a#email_icon_link.navbar_icon(href="#")
								span.fa.fa-envelope.fa-2x(data-toggle="tooltip" data-placement="buttom" title="Email")
						li 
							a#login_icon.link_icon.navbar_icon(href="#")
								span.fa.fa-sign-in.fa-2x(data-toggle="tooltip" data-placement="botton" title="Log In")


		#content
			block content
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js")
		script(type="text/js" src="index.js")