body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#navbar {
	height: 50px;
}

#navbar_container {
	width: 98%;
}

#myNavbar {
    height: 1px;
}

#primary_navbar {
    margin-bottom: 0;
}

a {
  color: #00b7ff;
}

.fa-2x {
	font-size: 1.55em;
}

#content {
	padding-left: 50px;
}

/* PLACEHOLDER */
#store_navigation_container {
	margin-top: 50px;
	margin-left: 20%;
}
/* PLACEHOLDER */

ul.products_ul {
	list-style-type: none;
	padding-left: 0;
}

.store_circular_component {
	border: 2px solid #bbbbbb;
    color: #555;
}

.header_store_name {
    border-bottom: 2px solid #bbbbbb;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.store_valid_dates {
    border-bottom: 1px solid #bbbbbb;
    padding-bottom: 10px;
    text-align: center;
}

.products_container {
	border: 2px solid #bbbbbb;
}

.product_info {
	border-bottom: 1px solid #bbbbbb;
    padding: 5px;
	padding-top: 0px;
}

.product_name {
    margin-top: 5px;
    margin-bottom: 5px;
}



img.product_image {
    padding-left: 20%;
    max-height: 75%;
    max-width: 75%;
    min-height: 25%;
    min-width: 25%;
}


/* FROM TEMPLATE */
/*!
 * Start Bootstrap - SB Admin 2 Bootstrap Admin Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    background-color: #f8f8f8;
}

#wrapper {
    width: 100%;
}

/* DELETE ??? */
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}
/* DELETE ??? */

#primary_navbar {
    max-height: 50px;
}

#navbar_right_wrapper {
    padding-right: 15px;
}

.navbar-nav > li > a.navbar_icon_right {
    padding-top: 10px;
}


#side-menu {
    height: 1000px;
    border-right: 1px solid #e7e7e7
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

/* ADDITIONS TO SIDE-MENU */
.panel_suboption {
    padding-left: 30px;
}


/* WINDOW CSS */
#container_three_columns {
    margin-top: 20px;
}

.spinner_container { 
    text-align: center;
}

i.spinner {
    display: inline-block;
    text-align: center;
}
