body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#navbar {
	height: 50px;
}

#navbar_container {
	width: 98%;
}

a {
  color: #00B7FF;
}

.fa-2x {
	font-size: 1.55em;
}

#content {
	padding-left: 50px;
}

/* PLACEHOLDER */
#store_navigation_container {
	margin-top: 50px;
	margin-left: 20%;
}
/* PLACEHOLDER */

ul.products_ul {
	list-style-type: none;
	padding-left: 0;
}

.store_circular_component {
	border: 2px solid black;
}

.header_store_name {
    border-bottom: 2px solid black;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.store_valid_dates {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    text-align: center;
}

.products_container {
	border: 2px solid black;
}

.product_info {
	border-bottom: 1px solid black;
	padding: 5px;
}

img.product_image {
    padding-left: 20%;
    max-height: 75%;
    max-width: 75%;
    min-height: 25%;
    min-width: 25%;
}

