body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.product_image {
	min-width: 100px;
	min-height: 100px;
	max-width: 200px;
	max-height: 200px;
}